.pj-header {
    margin-top: 25px;
    background: #424242;
    padding: 12px;
    border-radius: 10px;
}

.pj-header > div {
    display: flex;
    flex-direction: row;
}

.row .col {
    padding: 0;
}

@media (min-width: 993px) {
    .pj-logo {
        display: flex;
        width: 128px;
        justify-content: center;
        align-items: center;
    }
    .pj-logo > img {
        width: 128px;
        border-radius: 15px;
    }
    .back-btn {
        position: fixed;
        display: flex;
        align-items: center;
        gap: 5px;
        left: 0;
        top: 0;
        height: 100vh;
        padding: 20px;
        cursor: pointer;
    }
    .back-btn:hover {
        background: rgba(255,255,255,0.1);
    }
}

@media (max-width: 992px) {
    .pj-logo {
        display: flex;
        width: 64px;
        align-items: center;
        justify-content: center;
    }
    .pj-logo > img {
        width: 64px;
        border-radius: 6px;
    }
    .back-btn {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        left: 0;
        bottom: 0;
        width: 100vw;
        padding: 20px;
        cursor: pointer;
    }
    .back-btn:hover {
        background: rgba(255,255,255,0.1);
    }
}

.pj-text-content {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 3;
}

.pj-title {
    font-weight: bold;
    font-size: 36px;
}

.pj-langs {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 5px;
    flex: 2;
    align-items: end;
}

.pj-langs > div {
    padding: 3px;
    background: #424242;
    border-radius: 5px;
}

.pj-buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex: 2;
    justify-content: right;
    align-items: center;
}

.btn {
    border-radius: 10px;
}

.pj-buttons-mobile {
    width: 100%;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.pj-buttons-mobile > a:first-child {
    width: 100%;
}